[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[scripts]
build = "python setup.py develop"
start = "pipenv run sails-gui"

[dev-packages]

[packages]
networkx = "*"
numpy = "*"
pyrsistent = "*"
scipy = "*"
sounddevice = "*"
wavio = "*"
orbitant = "*"
sunvosc = "*"
radiant-voices = {git = "https://github.com/metrasynth/radiant-voices",ref = "ae57d50"}
sunvox-dll-python = {git = "https://github.com/metrasynth/sunvox-dll-python",ref = "48159dc"}
solar-flares = {git = "https://github.com/metrasynth/solar-flares",ref = "7b7706c"}
PyQt5 = "*"

[requires]
python_version = "3.6"
